:host {
  display: block;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
}

.fb_dialog,
.fb-customerchat {
  z-index: 10000 !important;
}

#fb-root {
  display: none;
}

.fb_dialog_content iframe {
  visibility: visible !important;
}